section {
    margin-top: 140px !important;
}

.h1 {
    background: linear-gradient(to right, #ffffff, #c7c7c7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #888888;
    font-size: 65px !important;
}

.hi {
    font-size: 65px !important;
    color: white !important;
}

#typing-container {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.font,
#typing-text {
    color: #ffffff;
    font-size: 36px !important;
}
@media (max-width:750px){
    .hi {
        display: block !important;
        width: 230px !important;
    }
    .font,#typing-text {
        display: block !important;
        width: 100px;
    }
}
#typing-text {
    color: rgba(7, 118, 228, 0.349);
}

p {
    font-size: 25px !important;
    font-weight: 600 !important;
}

.container {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    gap: 10px !important;
}

.first-section-image {
    height: 300px !important;
    animation: waveUpDown 3s ease-in-out infinite;
    margin-left: 38% !important;
}

@keyframes waveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 536px) {
    .container {
        grid-template-columns: 1fr !important;
    }

    .first-section-image {
        height: 300px !important;
        animation: waveUpDown 3s ease-in-out infinite;
        margin-left: 6% !important;
    }

    .fluid-container {
        text-align: center;
    }
}
@media (max-width: 486px){
    .container {
        grid-template-columns: 1fr !important;
    }

    img {
        display: block;
        margin-top: 20px !important;
        margin-left: 0% !important;
    }

    .fluid-container {
        text-align: center;
    }
}
.contact-button{
    margin-top: 10px;
    margin-left: 0 !important;
    border-radius: 50px;
    color: white;
    border: 3px solid rgba(7, 117, 228, 0.521);
    background-color: rgba(255,255,255, 0);
    width: 180px;
    height: 60px;
    font-size: 24px;
    align-items: center;
    transition: all 0.2s linear,transform 0.3s linear;
}
.contact-button:hover{
    border: 3px solid white;
    background-color: rgba(7, 118, 228, 0.349);
    box-shadow: 0 9px 12px rgba(7, 117, 228, 0.15), 0 6px 9px rgba(7, 117, 228, 0.15);
    transition: all 0.2s linear;
}
.about-card-container{
    margin-top: 8rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.about-card{
    width: 70% !important;
    height: 61rem !important;
    background-color: rgba(0,0,0,0.3);
    border: none !important;
}
.about-label{
    color: white;
    letter-spacing: 1.5px;
    margin-top: 3.5rem;
    margin-left: 3.5rem;
}
@media (max-width: 968px){
    .about-card{
        width: 85% !important;
    }
}
.about-image{
    width: 5rem;
    height: 5rem;
    margin-left: 10px !important;
}
li{
    list-style: none !important;
    margin: 0;
    padding: 0;
}
.third-item{
    margin-left: 20% !important;
    display: flex;
    justify-content: center;
    margin-right: 20px !important;
    padding-top: 10px !important;
    padding-left: 10px !important;
    border-radius: 20px !important;
    background-image:linear-gradient(to right, rgba(7, 118, 228, 0.15), rgba(7, 118, 228, -0.2));
    background-size:0 100%;
    background-repeat:no-repeat;
    transition:.4s;
}
.first-item{
    margin-left: 20% !important;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 20px !important;
    padding-top: 15px !important;
    padding-left: 10px !important;
    border-radius: 20px !important;
    background-image:linear-gradient(to right, rgba(7, 118, 228, 0.15), rgba(7, 118, 228, -0.2));
    background-size:0 100%;
    background-repeat:no-repeat;
    transition:.4s;
}
.second-item{
    margin-right: 55% !important;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    width: 70%;
    background-image:linear-gradient(to right, rgba(7, 118, 228, 0.15), rgba(7, 118, 228, -0.2));
    background-size:0 100%;
    background-repeat:no-repeat;
    transition:.4s;
    padding-top: 15px !important;
    padding-left: 10px !important;
    border-radius: 20px !important;
}
.first-item:hover,.second-item:hover,.third-item:hover{
    background-size:100% 100%
}
p{
    font-size: 22px !important;
    color: white;
    font-weight: lighter !important;
}
h2{
    color: rgba(7, 118, 228, 0.349);
}
@media (max-width : 830px) {
    .about-card{
        height: 75rem !important;
    }
    .p{
        font-size: 20px !important;
    }
    .first-section-p{
        width: 240px !important;
    }
}
@media (max-width : 763px) {
    .first-section-p{
        width: 340px !important;
    }
}
@media (max-width : 698px) {
    .about-card{
        height: 85rem !important;
    }
    .p{
        font-size: 18px !important;
    }
}
@media (max-width : 629px) {
    .about-card{
        height: 95rem !important;
    }
    .p{
        font-size: 16px !important;
    }
    .first-item,.third-item{
        margin-left: 0% !important;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .about-label{
        margin-left: 20px !important;
    }
}
@media (max-width : 565px) {
    .about-card{
        height: 70rem !important;
        width: 130% !important;
    }
    .first-section-p{
        text-align: center !important;
    }
    .p{
        font-size: 14px !important;
        width: 240px !important;
    }
    .about-label{
        margin-left: 5px !important;
    }
}
.skills-cards-container{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    gap: 10px !important;
    margin-top: 3.5rem !important;
    width: 100% !important;
    
}
.skills-container{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    gap: 10px !important;
}
.skills-div{
    display: flex !important;
    justify-content: center !important;
    border: 2px solid rgba(7, 118, 228, 0.349);
    border-radius: 15px;
    width: 100%;
    max-width: 120px;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 8px !important;
    padding-bottom: 4px !important;
}
.skill-img{
    margin-bottom: 4px !important;
}
.skills-cards{
    width: 500px;
    height: 20rem;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    background-color: #1119281f;
    border: 1px solid rgba(255,255,255,.125);
    box-shadow: #175ce626 0 4px 24px;
    border-radius: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}
@media (max-width: 800px) {
    .second-skill-card{
        margin-top: 32px !important;
    }
}
.skill-title{
    color: rgba(7, 118, 228,1);
    margin-top: 15px !important;
}
.skill-tag{
    font-size: 18px;
    text-align: center !important;
}
.skills-row{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    gap: 1.5rem !important;
}
@media (max-width:740px) {
    .skills-row{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 20% !important;
        margin-bottom: auto !important;
        column-gap: 0rem !important;
        row-gap: 1rem !important;
    }
    .skills-cards{
        width: 350px;
    }
}
.contact-container{
    padding: 30px 5rem !important;
    width: 98vw;
}
.contact{
    font-size: 64px !important;
    letter-spacing: 3px !important;
    color: rgba(255,255,255,1);
}
.contact-label{
    font-size: 32px !important;
    letter-spacing: 2px !important;
    color: rgba(255,255,255,0.9);
}
.contact-row{
    display: flex !important;
    justify-content: between !important;
}
.contact-info{
    text-decoration: none !important;
    display: flex !important;
    gap: 1rem !important;
    margin-bottom: 15px !important;
    width: 600px !important;
    transition: letter-spacing 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.contact-h2{
    color: white !important;
    font-size: 26px !important;
}
.contact-info:hover{
    letter-spacing: 2px !important;
    transition: all 0.2s ease-in-out,transform 0.3s ease-in-out;
}
@media (max-width:750px){
    .contact{
        font-size: 56px !important;
    }
    .contact-label{
        font-size: 24px !important;
        width: 420px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .contact-container{
        padding: 30px 0 !important;
        text-align: center !important;
        align-items: center !important;
        display: flex !important;
        justify-content: center !important;
    }
    .contact-info{
        margin-left: auto !important;
        margin-right: auto !important;
        width: 550px !important;
        margin-top: 15px !important;
    }
}
@media (max-width:800px){
    .cyber-card{
        max-width: 450px !important;
    }
}